@tailwind base;
@tailwind components;
@tailwind utilities;


/* Navbar Link Styling */
.nav-link {
    position: relative;
    padding: 8px 0;
    transition: color 0.3s ease;
}

.nav-link::before,
.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #50D890;
    transition: width 0.3s ease;
}

.nav-link::before {
    top: 0;
    transform: translateX(-50%);
}

.nav-link::after {
    bottom: 0;
    transform: translateX(-50%);
}

.nav-link:hover::before,
.nav-link:hover::after {
    width: 100%;
}

/* Search Bar Styling */
#nav-search {
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

#nav-search:not(.hidden) {
    width: 150px;
    opacity: 1;
    visibility: visible;
}

/* Responsive Mobile Styles */
@media (max-width: 768px) {
    .nav-link {
        @apply block w-full text-center py-2;
    }

    #nav-search:not(.hidden) {
        width: 100%;
        padding: 0.5rem;
    }
}

@keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
}
.animate-blob {
    animation: blob 7s infinite;
}
.animation-delay-2000 {
    animation-delay: 2s;
}
